Repository SiliconLabsSoftware/community-creations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SiliconLabsSoftware/devservices-admins, @SiliconLabsSoftware/mmte-application-examples-maintainer, @silabs-Joe, @laurge, @SiliconLabsSoftware/community-creations-campaigns-reviewers

.github/CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
/.github/CODEOWNERS @SiliconLabsSoftware/devservices-admins @SiliconLabsSoftware/mmte-application-examples-maintainer

# Applications
/projects/bluetooth/  @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/circuitpython/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/energy_harvesting/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/hardware_prototypes/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/matter/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/platform/platform_applications/ @silabs-Joe @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/wifi/wifi_applications/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/z_wave/ @laurge
/projects/zephyr/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/zigbee/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/openthread/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/campaigns/XIAO-Showdown-2025 @SiliconLabsSoftware/community-creations-campaigns-reviewers

# TBD
# /projects/proprietary/  @silabs-TiborL
# /projects/wisun/
# /projects/iot_utilities/
# /projects/training/

Update XIAO-Showdown-2025.md (#18)
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Submission for XIAO-Showdown-2025 (#22)
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Update projects/bluetooth/AI Based smart predictive farming/autogen/linkerfile_SoC.ld
  projects/bluetooth/AI Based smart predictive farming/autogen/linkerfile_SoC.ld
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update projects/bluetooth/AI Based smart predictive farming/si70xx_example.c
  projects/bluetooth/AI Based smart predictive farming/si70xx_example.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update projects/wifi/Gesture-Controlled IoT Rover for Hazardous Environments/Code/config/sl_net_default_values.h
  projects/wifi/Gesture-Controlled IoT Rover for Hazardous Environments/Code/config/sl_net_default_values.h
Owners: none

Update projects/wifi/Gesture-Controlled IoT Rover for Hazardous Environments/Code/config/sl_wifi_region_db_config.h
  projects/wifi/Gesture-Controlled IoT Rover for Hazardous Environments/Code/config/sl_wifi_region_db_config.h
Owners: none

Rewrite contribution docs for links-only submissions
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  projects/README.md
  projects/bluetooth/bluetooth_applications/README.md
  projects/bluetooth/bluetooth_mesh_applications/README.md
  projects/circuitpython/circuitpython_applications/README.md
  projects/energy_harvesting/energy_harvesting_applications/README.md
  projects/hardware_prototypes/open_3d_print_prototypes/README.md
  projects/hardware_prototypes/open_pcb_prototypes/README.md
  projects/matter/matter_applications/README.md
  projects/platform/platform_applications/README.md
  projects/proprietary/proprietary_application/README.md
  projects/training/training_examples/README.md
  projects/wifi/wifi_applications/README.md
  projects/wifi/wifi_combo_applications/README.md
  projects/wisun/wisun_applications/README.md
  projects/z_wave/z_wave_applications/README.md
  projects/zephyr/zephyr_applications/README.md
  projects/zigbee/zigbee_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer, @silabs-Joe, @laurge

Remove firmware build workflow and ignore editor artifacts
  .github/workflows/02-Build-Firmware.yml
  .gitignore
  Makefile
  scripts/Makefile
  scripts/pre_build.py
Owners: none

added more guidance merge conflict avoidance comments license requirements are less strict
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
  projects/README.md
  projects/bluetooth/bluetooth_applications/README.md
  projects/bluetooth/bluetooth_mesh_applications/README.md
  projects/circuitpython/circuitpython_applications/README.md
  projects/energy_harvesting/energy_harvesting_applications/README.md
  projects/hardware_prototypes/open_3d_print_prototypes/README.md
  projects/hardware_prototypes/open_pcb_prototypes/README.md
  projects/matter/matter_applications/README.md
  projects/platform/platform_applications/README.md
  projects/proprietary/proprietary_application/README.md
  projects/training/training_examples/README.md
  projects/wifi/wifi_applications/README.md
  projects/wifi/wifi_combo_applications/README.md
  projects/wisun/wisun_applications/README.md
  projects/z_wave/z_wave_applications/README.md
  projects/zephyr/zephyr_applications/README.md
  projects/zigbee/zigbee_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer, @silabs-Joe, @laurge

Add Engine Monitoring System project to README
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Add AI-based predictive farming project to README
  projects/bluetooth/bluetooth_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Create README.md
  campaigns/Centre-of-Innovation-in-IoT/pothole-detection-gps-iot/README.md
Owners: none

Update README.md
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update README.md
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Create README.md
  campaigns/Centre-of-Innovation-in-IoT/campaigns/Centre-of-Innovation-in-IoT/smart-irrigation-esp32/README.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Add files via upload
  campaigns/Centre-of-Innovation-in-IoT/creip_docs.md
Owners: none

Update creip_docs.md
  campaigns/Centre-of-Innovation-in-IoT/creip_docs.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/matter/matter_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update README.md
  projects/matter/matter_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Create ClimateSphere.md
  campaigns/Centre-of-Innovation-in-IoT/ClimateSphere.md
Owners: none

Update ClimateSphere.md
  campaigns/Centre-of-Innovation-in-IoT/ClimateSphere.md
Owners: none

Update creip_docs.md
  campaigns/Centre-of-Innovation-in-IoT/creip_docs.md
Owners: none

Update README.md
  projects/iot_utilities/README.md
Owners: none

Create README.md
  campaigns/Centre-of-Innovation-in-IoT/campaigns/Centre-of-Innovation-in-IoT/smart-irrigation-esp32/README.md
Owners: none

Update README.md
  campaigns/Centre-of-Innovation-in-IoT/campaigns/Centre-of-Innovation-in-IoT/smart-irrigation-esp32/README.md
Owners: none

Added PoultryConnect IoT project submission
  campaigns/Centre-of-Innovation-in-IoT/PoultryConnect/README.md
Owners: none

Update README
  campaigns/Centre-of-Innovation-in-IoT/PoultryConnect/README.md
Owners: none

Update README with NeuroBubble project information
  projects/wisun/wisun_applications/README.md
Owners: none

Update README.md
  projects/hardware_prototypes/open_3d_print_prototypes/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Add Botanical-Babysitter project to README
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update README.md
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Add HC-SR04 community project
  projects/wifi/wifi_applications/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Delete campaigns/Centre-of-Innovation-in-IoT/creip_docs.md
  campaigns/Centre-of-Innovation-in-IoT/creip_docs.md
Owners: none

Delete campaigns/Centre-of-Innovation-in-IoT/ClimateSphere.md
  campaigns/Centre-of-Innovation-in-IoT/ClimateSphere.md
Owners: none
