Repository SiliconLabsSoftware/community-creations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SiliconLabsSoftware/devservices-admins, @SiliconLabsSoftware/mmte-application-examples-maintainer, @silabs-Joe, @laurge, @SiliconLabsSoftware/community-creations-campaigns-reviewers

Update project submission guidelines for XIAO Showdown competition
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update .github/CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

add .cproject file
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/.cproject
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-4: switch to other workspace
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/.cproject
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/autogen/sbom/cyclonedx_bom.json
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/autogen/sbom/cyclonedx_bom.xml
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/autogen/sbom/spdx_bom.spdx
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/autogen/sbom/spdx_bom.spdx.json
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/bt_soc_thermometer_client.slcp
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/bt_soc_thermometer_client.slps
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-3: force regeneration beacause of tool error
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/.cproject
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/.pdm/uc.module.setup.componentSetup.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.12.2.1.20221205.gcc.slsproj
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/.pdm/uc.module.setup.ucConfig.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.12.2.1.20221205.gcc.slsproj
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/autogen/sbom/cyclonedx_bom.json
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/autogen/sbom/cyclonedx_bom.xml
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/autogen/sbom/spdx_bom.spdx
  projects/bluetooth/bluetooth_applications/ed/bt_soc_thermometer/autogen/sbom/spdx_bom.spdx.json
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-7: add list of uuid number of end node
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/uuid_number.c
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/uuid_number.h
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-7: code for client ota which ota dfu to end node
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/ota_client.c
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/ota_client.h
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-7: add code to app.c to discover all characteristic when connect to a new device; and save all to client database for each node
  projects/bluetooth/bluetooth_applications/ble_gateway/bt_soc_thermometer_client/app.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-3: add PDK information to README.md file
  projects/bluetooth/README.md
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-5: Removed resource/readme
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/image279wsbpa.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/image279wsbpancp.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/output1.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/output2.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen1.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen2.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen3.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen4.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen5.png
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/resources/readme/remote_screen6.png
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: UART driver (draft)
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/main.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: Add uart_test project
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/.cproject
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/.project
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/State Machine/HandDraw.jpg
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/State Machine/SM.png
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/State Machine/mermaid.png
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/State Machine/uart_state_machine.txt
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/app.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/.slc_state/.crc_config.crc
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/RTE_Components.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/gen.properties
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/linkerfile_SoC.ld
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sbom/cyclonedx_bom.json
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sbom/cyclonedx_bom.xml
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sbom/spdx_bom.spdx
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sbom/spdx_bom.spdx.json
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sl_component_catalog.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sl_event_handler.c
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/autogen/sl_event_handler.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/FreeRTOSConfig.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/RTE_Device_917.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/pin_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_board_configuration.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_board_control.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_si91x_dma_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_si91x_stack_size_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_si91x_usart_common_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/config/sl_si91x_usart_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/python/917_PC.txt
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/python/PC_917.txt
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/python/uart_tester_v2.py
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/readme.md
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/trashed_modified_files/config/sl_si91x_usart_common_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/trashed_modified_files/config/sl_si91x_usart_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/uart_test.pintool
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/uart_test.slcp
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/uart_test.slpb
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/uart_test/uart_test.slps
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Add Universal Vitals Project documentation
  projects/bluetooth/Universal Vitals Project
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

Update XIAO-Showdown-2025.md
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Update XIAO-Showdown-2025.md
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Update XIAO-Showdown-2025.md
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

Submission for XIAO-Showdown-2025
  campaigns/XIAO-Showdown-2025/XIAO-Showdown-2025.md
Owners: @SiliconLabsSoftware/community-creations-campaigns-reviewers

doc: Remove trailing whitespace (#16)
  README.md
Owners: none

IOT_DS-9: Update UART driver
  projects/bluetooth/bluetooth_applications/gw/wifi/USART/sl_si91x_empty_c_soc/src/uart/uart_comm.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: Adding uart folder to main project
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/ble_app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/ble_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/main.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/wifi_app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/wifi_config.h
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: Supplementing uart send driver
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.h
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: Small adjust on uart_write_bytes for debugging
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-9: Implement uart driver on 917 (#27)
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/.cproject
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/.pdm/uc.module.setup.componentSetup.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.12.2.1.20221205.gcc.slsproj
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/.pdm/uc.module.setup.ucConfig.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.12.2.1.20221205.gcc.slsproj
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/.project
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/autogen/.slc_state/.crc_config.crc
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/autogen/sbom/cyclonedx_bom.json
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/autogen/sbom/cyclonedx_bom.xml
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/autogen/sbom/spdx_bom.spdx
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/autogen/sbom/spdx_bom.spdx.json
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/ble_app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/ble_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/config/pin_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/config/sl_si91x_usart_common_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/config/sl_si91x_usart_config.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/main.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/uart_comm.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/wifi_app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/wifi_ble_gateway.slcp
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/wifi_config.h
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-28: Still working on decode module (Not fully tested yet)
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/.cproject
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/inc/crc16.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/inc/decode.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/inc/uart_comm.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/crc16.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/decode.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

IOT_DS-28: Fully tested decode module
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/app.c
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/inc/decode.h
  projects/bluetooth/bluetooth_applications/gw/wifi/wifi_ble_gateway/uart/decode.c
Owners: @SiliconLabsSoftware/mmte-application-examples-maintainer

added template file
  campaigns/IoT-CoE/IoT-CoE-project-template.md
Owners: none

added template file (#27)
  campaigns/IoT-CoE/IoT-CoE-project-template.md
Owners: none

Renamed the project
  campaigns/Centre-of-Innovation-in-IoT/Centre-of-Innovation-in-IoT-template.md
Owners: none

Renamed IoT template (#28)
  campaigns/Centre-of-Innovation-in-IoT/Centre-of-Innovation-in-IoT-template.md
Owners: none

Delete campaigns/IoT-CoE directory
  campaigns/IoT-CoE/IoT-CoE-project-template.md
Owners: none

Rename Centre-of-Innovation-in-IoT-template.md to CoI-IoT-template.md
  campaigns/Centre-of-Innovation-in-IoT/CoI-IoT-template.md
Owners: none

added main readme for the campaign
  campaigns/Centre-of-Innovation-in-IoT/README.md
  resources/campaigns-resources/Centre-of-Innovation-in-IoT/silabs-header.jpg
Owners: none

fix trailing whitespaces
  campaigns/Centre-of-Innovation-in-IoT/README.md
Owners: none

Extend coi documentation (#29)
  campaigns/Centre-of-Innovation-in-IoT/Centre-of-Innovation-in-IoT-template.md
  campaigns/Centre-of-Innovation-in-IoT/README.md
  resources/campaigns-resources/Centre-of-Innovation-in-IoT/silabs-header.jpg
Owners: none

.github/CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
/.github/CODEOWNERS @SiliconLabsSoftware/devservices-admins @SiliconLabsSoftware/mmte-application-examples-maintainer

# Applications
/projects/bluetooth/  @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/circuitpython/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/energy_harvesting/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/hardware_prototypes/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/matter/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/platform/platform_applications/ @silabs-Joe @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/wifi/wifi_applications/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/z_wave/ @laurge
/projects/zephyr/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/zigbee/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/projects/openthread/ @SiliconLabsSoftware/mmte-application-examples-maintainer
/campaigns/XIAO-Showdown-2025 @SiliconLabsSoftware/community-creations-campaigns-reviewers

# TBD
# /projects/proprietary/  @silabs-TiborL
# /projects/wisun/
# /projects/iot_utilities/
# /projects/training/
